<div ng_include='"components/navbar/navbar.html"'> </div>
<div class="container ng-scope">
  <div class="col-sm-8">
    <h2>View Employee</h2>
    <br>
    <br>
    <table class ="table">
        <tbody>
          <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Company</th>
          </tr>
          <tr>
            <td>{{currentEmployee.id}}</td>
            <td>{{currentEmployee.first_name}}</td>
            <td>{{currentEmployee.last_name}}</td>
            <td>{{currentEmployee.email}}</td>
            <td>{{currentEmployee.company}}</td>
          </tr>
        </tbody>
      </table>

  </div>
</div>